{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card cardbody">
        <h1 class="display-1 text-center">Django App</h1>
        <p>La aplicación en Python y Django que se describe es una herramienta de gestión de tareas que permite a los
            usuarios organizar su trabajo diario. Al utilizar esta aplicación, los usuarios pueden crear y agregar
            tareas, así como indicar si son importantes o no. Además, pueden marcar las tareas como completadas una vez
            que se hayan realizado.

            La interfaz de usuario es intuitiva y fácil de usar, lo que permite a los usuarios agregar rápidamente
            nuevas tareas y categorizarlas según su importancia. Los usuarios pueden acceder a sus listas de tareas en
            cualquier momento y en cualquier lugar, lo que los ayuda a mantenerse organizados y productivos.

            Además, la aplicación cuenta con características adicionales que permiten a los usuarios crear listas de
            tareas recurrentes, establecer recordatorios de tareas y asignar tareas a otros usuarios en el equipo.
            También hay una opción para exportar las listas de tareas como archivos CSV, lo que facilita la integración
            con otras herramientas de gestión de proyectos.

            En resumen, la aplicación de agenda de tareas desarrollada en Python y Django es una herramienta útil para
            cualquier persona que quiera mantenerse organizada y productiva en su trabajo diario. Con su diseño
            intuitivo y sus características avanzadas, esta aplicación puede ayudar a los usuarios a alcanzar sus
            objetivos y aumentar su eficiencia en el trabajo.
        </p>

        <div>
            <a class="btn btn-secondary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-dark" href="/signup/">
                Signup
            </a>
        </div>

    </section>

</main>

{% endblock %}