{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card cardbody">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi suscipit at corrupti perferendis
            exercitationem
            libero
            iste, ipsam atque illo maxime dicta natus magnam laudantium excepturi, repudiandae aliquid repellendus non
            consequuntur doloribus! Sapiente adipisci quam ab beatae quaerat accusantium cumque aperiam perspiciatis in,
            cupiditate quas architecto ut sit eos libero voluptates? Minus reiciendis, rerum, ratione dolorem
            voluptatibus
            iure
            distinctio voluptate ipsam harum sequi fuga laudantium temporibus dolorum quisquam corrupti molestiae soluta
            eveniet
            illum facilis cumque? Vitae sit nulla veniam voluptas quia ullam quasi saepe. Perspiciatis magnam unde
            voluptatum
            rem dolores provident sequi deleniti sit iste! Distinctio repellendus officia ex corporis quasi! ipsum dolor
            sit
            amet consectetur adipisicing elit. Dolor fugit ad doloribus accusantium id autem quisquam architecto, illo
            eos?
            Nesciunt corporis corrupti illo a nostrum eaque odit porro nam nihil.
        </p>

        <div>
            <a class="btn btn-secondary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-dark" href="/signup/">
                Signup
            </a>
        </div>

    </section>

</main>

{% endblock %}