{% extends 'base.html' %}

{% block content %}

<h1>Home</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi suscipit at corrupti perferendis exercitationem libero
    iste, ipsam atque illo maxime dicta natus magnam laudantium excepturi, repudiandae aliquid repellendus non
    consequuntur doloribus! Sapiente adipisci quam ab beatae quaerat accusantium cumque aperiam perspiciatis in,
    cupiditate quas architecto ut sit eos libero voluptates? Minus reiciendis, rerum, ratione dolorem voluptatibus iure
    distinctio voluptate ipsam harum sequi fuga laudantium temporibus dolorum quisquam corrupti molestiae soluta eveniet
    illum facilis cumque? Vitae sit nulla veniam voluptas quia ullam quasi saepe. Perspiciatis magnam unde voluptatum
    rem dolores provident sequi deleniti sit iste! Distinctio repellendus officia ex corporis quasi! ipsum dolor sit
    amet consectetur adipisicing elit. Dolor fugit ad doloribus accusantium id autem quisquam architecto, illo eos?
    Nesciunt corporis corrupti illo a nostrum eaque odit porro nam nihil.</p>

{% endblock %}